<div class="nk-header nk-header-fixed is-light">
    <div class="container-fluid">
        <div class="nk-header-wrap">
            <div class="nk-menu-trigger d-xl-none ms-n1"><a href="#" class="nk-nav-toggle nk-quick-nav-icon"
                    data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a></div>
            <div class="nk-header-brand d-xl-none"><a href="../../index.html" class="logo-link"><img
                        class="logo-light logo-img" src="../../images/logo.png" srcset="/demo1/images/logo2x.png 2x"
                        alt="logo"><img class="logo-dark logo-img" src="../../images/logo-dark.png"
                        srcset="/demo1/images/logo-dark2x.png 2x" alt="logo-dark"></a></div>
            <div class="nk-header-news d-none d-xl-block">
                <div class="nk-news-list"><a class="nk-news-item" href="#">

                    </a></div>
            </div>
            <div class="nk-header-tools">
                <ul class="nk-quick-nav">
                    <li class="dropdown language-dropdown d-none d-sm-block me-n1"><a href="#"
                            class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                            <div class="quick-icon border border-light"><img class="icon"
                                    src="../../images/flags/english-sq.png" alt=""></div>
                        </a>
                    </li>
                    <li class="dropdown user-dropdown"><a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                            <div class="user-toggle">
                                <div class="user-avatar sm"><em class="icon ni ni-user-alt"></em></div>
                                <div class="user-info d-none d-md-block">
                                    <div class="user-status">Administrator</div>
                                    <div class="user-name dropdown-indicator">Abu Bin Ishityak</div>
                                </div>
                            </div>
                        </a>
                        <div class="dropdown-menu dropdown-menu-md dropdown-menu-end dropdown-menu-s1">
                            <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                <div class="user-card">
                                    <div class="user-avatar"><span>AB</span></div>
                                    <div class="user-info"><span class="lead-text">Abu Bin
                                            Ishtiyak</span><span class="sub-text">info@softnio.com</span></div>
                                </div>
                            </div>

                            <div class="dropdown-inner">
                                <ul class="link-list">
                                    <li>
                                        <button type="button" class="dropdown-item" id="logout-link">
                                            <i class="icon-base bx bx-power-off icon-md me-3"></i>
                                            <span>Log Out</span>
                                        </button>
                                    </li>
                                </ul>
                            </div>
            </div>
            </li>
            </ul>
        </div>
    </div>
</div>
</div>