<!DOCTYPE html>
<html lang="zxx" class="js">
<!-- Mirrored from dashlite.net/demo1/pages/auths/auth-register-v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 May 2025 07:45:00 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description"
        content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <link rel="shortcut icon" href="../../images/favicon.png">
    <title>Register | Nolspan</title>
    <link rel="stylesheet" href="../../assets/css/dashlitee1e3.css?ver=3.2.4">
    <link id="skin-default" rel="stylesheet" href="../../assets/css/themee1e3.css?ver=3.2.4">
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-91615293-4"></script>
    <script>window.dataLayer = window.dataLayer || []; function gtag() { dataLayer.push(arguments); } gtag('js', new Date()); gtag('config', 'UA-91615293-4');</script>
</head>

<body class="nk-body bg-white npc-general pg-auth">
    <div class="nk-app-root">
        <div class="nk-main ">
            <div class="nk-wrap nk-wrap-nosidebar">
                <div class="nk-content ">
                    <div class="nk-block nk-block-middle nk-auth-body wide-xs">
                        <div class="card card-bordered">
                            <div class="card-inner card-inner-lg">
                                <div class="nk-block-head">
                                    <div class="nk-block-head-content">
                                        <h4 class="nk-block-title">Register</h4>
                                        <div class="nk-block-des">
                                            <p>Create New Nolspan Account</p>
                                        </div>
                                    </div>
                                </div>
                                <% if (error) { %>
                                    <div class="alert alert-danger">
                                        <%= error %>
                                    </div>
                                    <% } %>

                                        <% if (success) { %>
                                            <div class="alert alert-success">
                                                <%= success %>
                                            </div>
                                            <% } %>
                                                <form action="/agent/register" method="POST">
                                                    <div class="form-group">
                                                        <label for="first_name">First Name</label>
                                                        <input type="text" name="first_name" id="first_name"
                                                            class="form-control form-control-lg" placeholder="Enter first name" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="last_name">Last Name</label>
                                                        <input type="text" name="last_name" id="last_name"
                                                            class="form-control form-control-lg" placeholder="Enter last name" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="email">Email</label>
                                                        <input type="email" name="email" id="email"
                                                            class="form-control form-control-lg" placeholder="Enter email" required>
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="password">Password</label>
                                                        <input type="password" name="password" id="password"
                                                            class="form-control form-control-lg" placeholder="Enter password" required>
                                                    </div>

                                                    <button type="submit"
                                                        class="btn btn-lg btn-primary btn-block">Register</button>
                                                </form>
                                                <div class="form-note-s2 text-center pt-4">
                                                    Already have an account? <a href="/agent/login"><strong>Sign in
                                                            instead</strong></a>
                                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="nk-footer nk-auth-footer-full">
                        <div class="container wide-lg">
                            <div class="row g-3">
                                <div class="col-lg-6">
                                    <div class="nk-block-content text-center text-lg-start">
                                        <p class="text-soft">&copy; 2025 Nolspan. All Rights Reserved.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="pmo-lv pmo-dark"><a class="pmo-close" href="#"><em class="ni ni-cross"></em></a><a class="pmo-wrap"
            target="_blank" href="https://softnio.com/get-early-access/">
            <div class="pmo-text text-white">Looking for functional script for Investment Platform? Check out <em
                    class="ni ni-arrow-long-right"></em></div>
        </a></div><a class="pmo-st pmo-dark" target="_blank" href="https://softnio.com/get-early-access/">
        <div class="pmo-st-img"><img src="../../../images/landing/promo-investorm.png" alt="Investorm"></div>
        <div class="pmo-st-text">Looking for Advanced <br> Investment Platform?</div>
    </a>
    <script src="../../assets/js/bundlee1e3.js?ver=3.2.4"></script>
    <script src="../../assets/js/scriptse1e3.js?ver=3.2.4"></script>
    <script src="../../assets/js/demo-settingse1e3.js?ver=3.2.4"></script>
    <!-- Mirrored from dashlite.net/demo1/pages/auths/auth-register-v2.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 07 May 2025 07:45:00 GMT -->

</html>